@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #045ac4 , #8dc0ff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 300px;
  height:430px;
  background: #6da0df;
  padding: 4rem;
  border-radius: 10px;
  position: relative;
}

.login-card::before {
  content: '';
  position: absolute;
  background: #96bff2;
  inset: 0;
  transform: rotate(-5deg);
  z-index: -1;
}

.login-card-logo {
  margin-bottom: 2rem;
}

.login-card-logo img {
  width: 60px;
}

.login-card-logo,
.login-card-header,
.login-card-footer {
  text-align: center;
}

.login-card a {
  text-decoration: none;
  font-size: large;
  color: #000000;
}

.login-card a:hover {
  text-decoration: underline;
  color: #ffffff;

}

.login-card-header {
  margin-bottom: 2rem;
}

.login-card-header h1 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: .5rem; 
}

.login-card-header h1 + div {
  font-size: calc(1rem * .8);
  opacity: .8;
}

.login-card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.login-card .form-item {
  position: relative;
}

.login-card input:focus {
  background: white;
}

.botao {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #79a1d2;
  color: white;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: #033a91;
}

@media(max-width: 768px) {
  body {
    padding: 2rem 0;
  }

  .login-card {
    width: 300px;
    padding: 2rem;
  }
}


// $bacground-color: #8dc0ff;

// * {
//   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
//   scrollbar-width: thin;
// }

// .centralizar {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   width: 100%;
// }

// .card {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   gap: 5px;
//   background-color: $bacground-color;
//   text-align: center;
//   padding: 20px;
//   width: 400px;
//   border: 1px solid;
//   border-radius: 20px;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
// }

// body {
//   background-color: $bacground-color;
//   margin: 0;
//   padding: 0;
//   min-height: 100vh;
// }

// #titulo {
//   color: white;
//   font-family: Impact, Haettenschweiler, "Arial Narrow", sans-serif;
// }

// .botao {
//   background-color: $bacground-color;
//   border-radius: 15px;
//   cursor: pointer;
//   padding: 8px;
//   transition: background-color 0.3s, color 0.3s;
//   &:hover {
//     color: #fff;
//     background-color: #000;
//   }
// }

// a {
//   color: rgb(0, 0, 0);
//   text-decoration: none;
// }