@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #045ac4 , #8dc0ff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 400px; /* Reduzi a largura do cartão */
  background: #6da0df;
  padding: 3rem; /* Reduzi o padding */
  border-radius: 10px;
  position: relative;
}

.login-card::before {
  content: '';
  position: absolute;
  background: #96bff2;
  inset: 0;
  transform: rotate(-5deg);
  z-index: -1;
}

.login-card-logo {
  margin-bottom: 1.5rem; /* Reduzi a margem inferior */
}

.login-card-logo img {
  width: 50px; /* Reduzi o tamanho da imagem */
}

.login-card-logo,
.login-card-header,
.login-card-footer {
  text-align: center;
}

.login-card-header {
  margin-bottom: 1.5rem; /* Reduzi a margem inferior */
}

.login-card-header h1 {
  color: #ffffff;
  font-size: 1.5rem; /* Reduzi o tamanho da fonte */
  font-weight: 600;
  margin-bottom: .5rem; 
}

.login-card-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-card-form .form-item {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.login-card-form .form-item label {
  font-size: 0.9rem; /* Reduzi o tamanho da fonte */
  color: #ffffff;
}

.login-card-form .form-item input {
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 0.9rem; /* Reduzi o tamanho da fonte */
}

.login-card-form .form-item input:focus {
  background: white;
}

.botao {
  display: inline-block;
  padding: 0.8rem 1.5rem; /* Reduzi o padding */
  border-radius: 5px;
  background-color: #045ac4;
  color: white;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
}

.botao:hover {
  background-color: #033a91;
}

@media(max-width: 768px) {
  body {
    padding: 2rem 0;
  }

  .login-card {
    width: 280px; /* Reduzi a largura do cartão para telas menores */
    padding: 1.5rem; /* Reduzi o padding */
  }
}
