
$bacground-color: #8dc0ff;

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  scrollbar-width: thin;
}

.centralizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: $bacground-color;
  text-align: center;
  padding: 20px;
  width: 400px;
  border: 1px solid;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body {
  background-color: $bacground-color;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#titulo {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow", sans-serif;
}

.botao {
  background-color: $bacground-color;
  border: 1px solid #808080;
  border-radius: 15px;
  margin: 4px;
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.3s, color 0.3s;
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

#selec{
  background-color: $bacground-color;
  border-radius: 15px;
  padding: 4px;
  font-size: medium;
  &:hover {
    color: #000000;
    background-color: #ffffff;
  }
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.input-container input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.finalizar {
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #5196e9;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 20px;
}
.finalizar:hover {
  background-color: darkblue;
}

.orcamento-finalizado {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #000;
  background-color: #f9f9f9;
}
.orcamento-finalizado h3 {
  margin: 0 0 10px 0;
}
.orcamento-finalizado p {
  margin: 5px 0;
}
