.card-conteiner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  min-width: 350px;
  margin: 30px;
  border: 1px #150e27 solid;
  background: #1155a9;
  padding: 3.5rem;
  border-radius: 10px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: #010556;
    border: 1px #4d5079 solid;
    border-radius: 10px;
    inset: 0;
    transform: rotate(-4deg);
    z-index: -1;  
  }
}

.form-buttons {
  background-color: #517ec1;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color: #ffff;
  text-align: center;
  &:hover {
    text-decoration: underline;
    background-color: #0b2f66;
  }
}

a {
  text-decoration: none;
  color: #ffe3e39a;
  &:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
  }
}

.card-logo {
  img {
    width: 90px;
    filter: invert(1);
  }
  margin-bottom: 2rem;
}

.card-logo,
.card-header,
.card-footer {
  text-align: center;
}

.card-header {
  margin-bottom: 2rem;
  text-decoration: dotted to-lower-case($string: "#tittle");
}

.card-header h1 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: rgb(255, 255, 255); /* Alterei a cor do título para branco */
}

.card-header h1 + div {
  font-size: calc(1rem * 0.8);
  opacity: 0.8;
}

.card-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  .form-item {
    position: relative;
    filter: invert(1);

  }
}

@media (max-width: 768px) {
  body {
    padding: 2rem 0;
  }

  .card {
    width: 100%;
    margin: 0;
    padding: 2.5rem;
  }
}