

.title-section {
  color: $text-color;
  display: flex;
  background-color: $background-color-2;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  box-shadow: 0 4px 8px #0000001a;

  h1 {
    margin: 0;
    font-size: 24px;
  }

  .add-client {
    display: flex;
    align-items: center;

    span {
      margin-right: 10px;
      font-size: 18px;
    }

    .add-icon {
      width: 35px;
      height: 35px;
      background-color: $icon-background-color;
      color: $text-color;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      font-size: 24px;
      padding: 5px;
      margin-right: 9px;
      cursor: pointer;
      &:hover {
        background-color: #999b9d;
      }
    }
  }
}

